.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0.5em;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 300px;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    text-decoration: none;
    font-weight: 400;
    background:var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and  (min-width:1024px){

    .cabecalho{
        padding: 0 2em;
    }

    .container__titulo, 
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 1.7em 1em;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente{
        display: none;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo >.opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and  (min-width:1728px){
    .cabecalho{
        display: flex;
        align-self: self-start;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .container__texto{
        display: block;
    }

    .opcoes{
        margin-right: auto;
        margin-left: 3em;
    }
    
}