.rodape{
    background-color: var(--branco);
}

.rodape__titulo{
    font-weight: 400;
    padding: 1em 0 1.5em 1.5em;
}

hr{
    margin: 0;
}

.rodape__lista{
    display: none;
}

@media screen and  (min-width:1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 1em 3em 4em 1em;
    }

    .rodape__titulo{
        font-size: 24px;
        padding: 0;
    }

    .rodape__lista{
        display: block;
    }

    .rodape__lista-titulo{
        margin-bottom: 1.5em;
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape__item{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        gap: 0.5em;
    }

    .rodape__link{
        text-decoration: none;
        color: var(--cinza);
        font-size: 14px;
    }
}